---
---

/* See lib/bootstrap/_variables.scss for colors, font sizes, etc. */

@import "fonts";
@import "bootstrap";
@import "ekko-lightbox";

html, body {
  min-height: 100%;
}

body {
  padding-top: 50px;
}

a {
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

a:visited, a:active {
  color: #77CC22;
}

a:hover, a:focus {
  color: $link-hover-color;
  text-decoration: none;
}

img.member-photo {
  margin-bottom: 10px;
}

h3.member-name {
  margin-top: 0;
  margin-bottom: 20px;
}

h3.project-name,
h3.presentation-name {
  margin-top: 0;
}

#members .row + .row {
  margin-top: 40px;
}

.member-photo {
  margin: 0 auto 10px auto;
  padding: 10px;
  background-color: white;
  width: 200px;
  text-align: center;
}

.modal-title {
  color: #444;
}

.page-header {
  text-align: center;
}

.project-thumbnail,
.presentation-thumbnail {
  background-color: white;
  padding: 10px;
  text-align: center;
}

.project-thumbnail img,
.presentation-thumbnail img {
  max-width: 100%;
}

.projects .project + .project,
.presentations .presentation + .presentation {
  margin-top: 40px;
}

.page-section {
  padding: 40px 0;
}

.page-section > .container > h2 {
  margin-top: 0;
}

.page-section#about {
}

.page-section#presentations {
  background-color: $muted-teal;
}

.page-section#projects {
  background-color: $dark-muted-teal;
}

.page-section#members {
  background-color: $muted-teal;
}

.page-section#resources {
  background-color: $dark-muted-teal;
}

.page-section#contact {
}

.page-section#site-footer {
  background-color: $muted-teal;
  text-align: center;
  padding-bottom: 20px;
  font-size: 12px;
}

#site-title {
  background-image: url('../images/LLCC_logo_160px.png');
  background-repeat: no-repeat;
  line-height: 160px;
  margin: 60px auto 0px auto;
  min-height: 160px;
  padding-left: 188px;
  width: 440px;
}

time {
  font-style: italic;
  color: #999;
}

ul.members-list > li + li {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .project-thumbnail {
    margin-bottom: 10px;
  }

  #site-title {
    width: auto;
    padding-left: 0;
    padding-top: 170px;
    margin: 20px auto 0 auto;
    line-height: 1.1;
    text-align: center;
    background-position: center top;
    min-height: 0;
  }

  span.visible-xs {
    display: inline !important;
  }
}

@media (min-width: 1200px){
  .container {
    width: 60em;
  }
}
