<section id="about" class="page-section">
  <div class="container">
    <h2 class="sr-only">About</h2>

    <p>
      LexLadiesCode is an all-ladies coding club based in Lexington, Kentucky.
      The original ladies came together to create the
      <a href="http://www.lexplaypacman.com/">LexPlayPacman</a> project for the
      <a href="http://www.lexpublib.org/">Lexington Public Library</a>. The
      project was such a success that we decided to continue on, and hope to not
      only learn more about coding, but teach more women to code and create
      meaningful and useful tools for the local community.
    </p>
    <p>
      The club was an idea that sprang from a conversation between Kristen Hanny
      and Ashley Wilson. Kristen wanted to learn and Ashley had a desire to pass
      on her knowledge of coding to other women. The club is spearheaded with
      fellow programming goddess and teacher, Sarah Vessels.
    </p>
  </div>
</section>
