<section id="about" class="page-section">
  <div class="container">
    <h2 class="sr-only">About</h2>

    <p>
      LexLadiesCode is a women's coding club based in Lexington, Kentucky gathered to increase the visibility of and possibilities for women in technology.
    </p>
    <p>
      Our goals are:
    </p>
    <ul>
      <li>to create a welcoming environment to foster the growth of women interested in technology;</li>
      <li>to learn and create things together;</li>
      <li>to strengthen the community of women programmers in Lexington and surrounding areas.</li>
    </ul>
  </div>
</section>
