<section id="events" class="page-section">
  <div class="container">
    <h2>Events</h2>

    {% assign curDate = site.time | date: '%s' %}
    {% for post in site.categories.events %}
      {% assign postStartDate = post.date | date: '%s' %}
      {% if postStartDate >= curDate %}
        <div class="well">
          <h4 class="subheader">{{ post.date | date: "%B %-d" }} <small>{{ post.start-time }} to {{ post.end-time }}</small></h4>
          <h3>{{ post.title }} <small><i class="fa fa-map"></i></small></h3>
          <p>{{ post.content }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
