<section id="members" class="page-section"><a name="members"></a>
  <h2>Members</h2>
    {% assign column_counter = 0 %}
    {% for post in site.categories.members reversed %}

      {% if column_counter == 3 %}
        </div>
        {% assign column_counter = 0 %}
      {% endif %}
      {% if column_counter == 0 %}
        <div class="row">
      {% endif %}
      <div class="col-md-4">
        {% assign column_counter = column_counter | plus: 1 %}
        <section class="member">
          <h3 class="member-name">{{ post.title }}</h3>
          {% if post.photo %}
            <div class="member-photo">
              <img src="/images/{{ post.photo }}" alt="{{ post.title }}">
            </div>
          {% endif %}
          <div class="member-bio">
            {{ post.content }}
          </div>
          <footer class="member-footer">
            <ul class="list-inline">
              {% if post.website %}
                <li>
                  <a href="{{ post.website }}">
                    <i class="fa fa-external-link-square"></i>
                    Visit web site
                  </a>
                </li>
              {% endif %}
              {% if post.github %}
                <li>
                  <a href="https://github.com/{{ post.github }}">
                    <i class="fa fa-code"></i>
                    View Github profile
                  </a>
                </li>
              {% endif %}
              {% if post.twitter %}
                <li>
                  <a href="http://www.twitter.com/{{ post.twitter }}">
                    <i class="fa fa-twitter"></i>
                    @{{ post.twitter }}
                  </a>
                </li>
              {% endif %}
            </ul>
          </footer>
        </section>
      </div>
    {% endfor %}
  </div>
</section>
