<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#members">Members</a></li>
        <li><a href="#contact">Contact</a></li>
        {% if site.categories.updates.size > 0 %}
          <li><a href="#updates">Updates</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/LexLadiesCode" title="Github" data-toggle="tooltip" data-placement="left">
            <i class="fa fa-github"></i>
            <span class="visible-xs">Github</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/lexladiescode" title="Twitter" data-toggle="tooltip" data-placement="left">
            <i class="fa fa-twitter"></i>
            <span class="visible-xs">Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/lexladiescode" title="Facebook" data-toggle="tooltip" data-placement="left">
            <i class="fa fa-facebook"></i>
            <span class="visible-xs">Facebook</span>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
